@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b090a;
  font-family: "Inter", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}
